<div id="bundle-slider" class="right-side-slider">

	<div class="bundle-slider-header">
	</div>

	<div class="bundle-slider-body">
		<div class="slider-existing-bundles"></div>
		<h3 class="new-bundle-message">Or create a new bundle</h3>
		<div class="create-bundle-form">
			<form class="clearfix mb-4" id="create-bundle" name="create-bundle">
				<div class="form-group">
				<input class="form-control text" id="create-bundle-name" name="title" type="text" placeholder="TITLE" />
				</div>
				<button class="create-bundle-btn" bundle-id="custom">CREATE BUNDLE</button>
			</form>
		</div>
	</div>

</div>

<div class="bundle-slider-bg"></div>