<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>News Worthy</title>
<!-- Search Engine -->
<meta name="description" content="A sleek, modern interface for aggregating, finding, and sharing news that's worth reading.">
<meta name="image" content="/images/og-image">
<!-- Schema.org for Google -->
<meta itemprop="name" content="News Worthy">
<meta itemprop="description" content="A sleek, modern interface for aggregating, finding, and sharing news worth reading.">
<meta itemprop="image" content="https://team1-new-news.herokuapp.com/images/og-image.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="News Worthy">
<meta name="og:description" content="A sleek, modern interface for aggregating, finding, and sharing news worth reading.">
<meta name="og:image" content="https://team1-new-news.herokuapp.com/images/og-image.png">
<meta name="og:url" content="https://team1-new-news.herokuapp.com">
<meta name="og:site_name" content="News Worthy">
<meta name="og:type" content="website">