<div id="nav-slider" class="left-side-slider">

	<div class="nav-slider-header">
		<h2>News Worthy</h2>
		<h3>[Tagline?]</h3>
	</div>

	<div class="nav-slider-body">
		<a href="/"><h4>Top Headlines</h4></a>
		<a href="/news-worthy"><h4>News Worthy Headlines</h4></a>
		<a href="#"><h4>Your Bundles</h4></a>
	</div>

	<div class="nav-slider-signup">
		<a href="#" class="nav-slider-signup-link">Sign Up</a>  |  
		<a href="#" class="nav-slider-login-link">Log In</a>
	</div>

</div>

<div class="nav-slider-bg"></div>