<div id="user-activity-slider" class="left-side-slider">

	<div class="user-activity-slider-header">
		<h1>Daniel Milligan</h1>
		<h3>Your Bundles</h3>
	</div>

	<div class="user-activity-slider-body">
		<a href="#"><h4>Worthy &raquo;</h4></a>
		<a href="#"><h4>Saved &raquo;</h4></a>
	</div>

</div>

<div class="user-activity-slider-bg"></div>