<div id="user-activity-slider" class="left-side-slider">

	<div class="user-activity-slider-header">
	</div>

	<div class="user-activity-slider-body">
	</div>

</div>

<div class="user-activity-slider-bg"></div>