<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found</h1>
    <h2 class="text-center">There's nothing news worthy here.</h2>
    <a href="/">â† Back to the Headlines</a>
  </div>
</div>

<div id="bottom-nav-container">
    <img class="nav-icon nav-slider-trigger" src="/images/nav-icon.svg">
</div>



<div class="side-slider-container">

    {{> nav-slider}}
    
</div>
