<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <form class="clearfix mb-4" id="signin" name="signin" method="post" action="/login">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input name="email" type="text" id="signup-email" class="form-control text" aria-describedby="signup-email" placeholder="example@gmail.com">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" id="signup-password" class="form-control" aria-describedby="signup-password">
          </div>
          <input class="btn" type="submit" value="Sign In" />
        </form>
    </div>
  </div>
</div>
