.list-group-item {
  line-height: 2.5;
}

body {
  font-family: 'Crimson Text', serif;
  color: #333;
  background-color: #f7f7f7;
}

a {
  color: #4765AD;
}

a:hover {
  text-decoration: none;
  color: #283860;
}

.headlines-page-container, .worthy-page-container, .profile-worthy-page-container {
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.headlines-title-container, .worthy-title-container, .profile-worthy-title-container {
  background-color: #333;
  color: #fff;
  padding: 20px 5px 10px 5px;
}

.title-container > h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.profile-worthy-title-container > h1 {
  font-size: 2.5rem;
}

.title-container > .title-date {
  font-style: italic;
}

#headlines-container {
  padding-bottom: 100px;
}

#worthy-articles-container {
  padding-top: 20px;
  padding-bottom: 100px;
  width: 800px;
  max-width: 95vw;
  margin: 0 auto;
}

#worthy-articles-container > .article-summary > .article-summary-title {
  margin-top: 10px;
  line-height: 1.1;
}

#worthy-articles-container > .article-summary > img {
  width: 800px;
  max-width: 90vw;
}

.headline-button {
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.5s;
  max-width: 80vw;
  width: 250px;
  margin: 10px auto;
  border-radius: 2px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}

.headline-button:hover {
  background-color: #ccc;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, .8);
}

.nav-icon {
  width: 75px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2500;
}

.left-side-slider {
  height: 100vh;
  width: 350px;
  max-width: 95vw;
  position: fixed;
  top: 0;
  left: -350px;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
}

.right-side-slider {
  height: 100vh;
  width: 350px;
  max-width: 95vw;
  position: fixed;
  top: 0;
  right: -350px;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
}

#nav-slider {
  background-color: #E0E0E0;
  color: #333;
  z-index: 2200;
}

.nav-slider-body h4 {
  padding: 10px 0px;
}

.headlines-slider {
  background-color: #E0E0E0;
  color: #333;
  z-index: 1900;
}

.article-slider {
  background-color: #E0E0E0;
  color: #333;
  z-index: 2000;
}

.bundle-slider {
  background-color: #E0E0E0;
  color: #333;
  z-index: 2100;
}

.left-side-slider-shadow {
  box-shadow: 5px 0px 10px rgba(255, 255, 255, .5), 5px 0px 10px rgb(0, 0, 0, 1);
}

.right-side-slider-shadow {
  box-shadow: -5px 0px 10px rgba(255, 255, 255, .5), -5px 0px 10px rgb(0, 0, 0, 1);
}

#nav-slider a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.side-slider-container {
  overflow: auto;
}

.nav-slider-backdrop, .headlines-slider-backdrop, .article-slider-backdrop, .bundle-slider-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.8;
}

.nav-slider-backdrop {
  z-index: 2150;
}

.headlines-slider-backdrop {
  z-index: 1850;
}

.article-slider-backdrop {
  z-index: 1950;
}

.bundle-slider-backdrop {
  z-index: 2050;
}

.lock-scroll {
  overflow: hidden;
}

#nav-slider {
  padding: 20px 10px 0px 10px;
}

.nav-slider-header {
  text-align: center;
  margin-top: 20px;
}

.nav-slider-header > h1 {
  font-weight: bold;
}

.nav-slider-body {
  text-align: left;
  display: block;
  margin-top: 50px;
}

.nav-slider-signup, .nav-slider-logout {
  margin-top: 60px;
}

.nav-slider-signup a, .nav-slider-logout a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.nav-slider-signup-link {
  padding-right: 10px;
}

.nav-slider-login-link {
  padding-left: 10px;
}

.headlines-slider {
  padding: 20px 10px 100px 10px;
}

.article-summary {
  cursor: pointer;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.article-summary-image, .article-slider-image {
  width: 250px;
  max-width: 90vw;
}

.article-summary-title {
  margin-bottom: 0px;
}

.article-summary-publication {
  font-style: italic;
}

.article-slider {
  padding: 5px 10px 100px 10px;
  text-align: center;
}

.article-slider-publication {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #cccccc;

}

.article-slider-byline, .article-slider-date {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 0px;
}

.article-slider-summary {
  margin: 0px;
  text-align: left;
  padding-top: 20px;
}

.article-slider-read-article {
  text-align: left;
}

.cta-message {
  font-size: 20px;
  font-weight: bold;
  color: #5C83E0;
}

.form-container {
  margin: 50px auto 0px auto;
  padding: 20px 10px 50px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.logo-form-container {
  text-align: center;
  margin-bottom: 20px;
}

.signup-login-icon {
  width: 100px;
}

.signup-login-btn {
  border-radius: 8px;
  border: none;
  background-color: #5C83E0;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f7f7f7;
}

.article-slider > .add-worthy-btn {
  margin-top: 20px;
}

.add-worthy-btn {
  border-radius: 8px;
  border: none;
  background-color: #5C83E0;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f7f7f7
}

.hide-element {
  display: none;
}

.worthy-added {
  background-color: #2E4C93; 
}